$desktop-width: 1375px;

$main-color: #1A237E;
$sub-color: #1565C0;
$btn-color: #D50000;
$breadcrumbs-color: #BDBDBD;

$margin-base: 20px;


$html-font-size-base: 10px;
$font-size: 1.6rem;
$font-size--sm: 1.4rem;
$font-size--md: 1.8rem;
$font-size--bg: 2rem;
$font-size--lg: 2.4rem;

$line-height-base: 1.3;

$font-family-base: 'PT Sans', Arial, sans-serif;
