.btn {
  color: white;
  background-color: $btn-color;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: $font-family-base;
  &:hover {
    background-color: darken($btn-color, 9%);
  }
}
input {
  font-family: $font-family-base;
}
ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
