.offers {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  z-index: 1;
  border: solid lighten(black, 80%) 1px;
  border-top: none;
  transition: transform 0.5s ease;
  background-color: white;
  &--active {
    transform: translateY(100%);
  }
  &__offer-list {
  }
  &__item {
    position: relative;
  }
  &__shipper-text-char {
    color: lighten(black, 60%);
  }
  &__shipper-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 15%;
    font-size: $font-size--sm;
    z-index: 3;
    &:before {
      content: '';
      position: absolute;
      top: 23%;
      left: 1%;
      background-color: #FFD600;
      width: 18px;
      height: 18px;
      border-radius: 50%;
    }
    &:hover {
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      & + .offers__btn {
        // visibility: visible;
        opacity: 1;
      }
    }
  }
  &__shipper-info {
    position: relative;
    padding: 10px 0;
  }
  &__btn {
    // visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    right: 5%;
    top: 20%;
    cursor: pointer;
  }
}
