@import "star-rating";
.snippet-card {
    position: relative;
    z-index: 2;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 10px;
    border: solid lighten(black, 80%) 1px;
    &__image {
        flex-basis: 160/880 * 100%;
        align-self: center;
        padding: 1%;
    }
    &__main-info {
        flex-basis: 400/880 * 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 10px 2% 10px 0;
        min-width: 10px;
    }
    &__side-info {
        flex-basis: 160/880 * 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 20px 8px 6px;
    }
    &__order-info {
        flex-basis: 290/880 * 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #ebeff3;
        padding-top: 1%;
        padding-left: 2%;
        padding-bottom: 1%;
    }
    &__header {
        margin: 0;
        text-transform: uppercase;
        font-weight: 400;
        font-size: $font-size--md;
    }
    &__title {
        text-decoration: underline;
    }
    &__descr-list {
        width: 100%;
        white-space: nowrap;
        @include clearfix;
        font-size: $font-size--sm;
    }
    &__descr-item {}
    &__descr-name {
        float: left;
        width: 68%;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 5px;
        &::after {
            content: " ..............................................................................";
        }
    }
    &__descr-value {
        float: left;
        min-width: 30%;
        overflow: hidden;
        margin-left: 1%;
    }
    &__in-stock {
        border: solid green 2px;
        text-transform: uppercase;
        text-align: center;
        padding: 2px 0;
    }
    &__stock-amount {
        border-top: solid lighten(black, 80%) 1px;
        font-size: $font-size--sm;
    }
    &__stock-amount-text {
        color: lighten(black, 50%);
        margin-right: 4px;
    }
    &__show-offers {
        text-decoration: underline;
    }
    &__price {
        font-size: $font-size--lg;
    }
    &__to-cart-btn {
        position: relative;
        z-index: 5;
        width: 80%;
        padding: 10px 0 10px 18px;
        font-size: $font-size--md;
        font-weight: bold;
    }
    &__cart-icon {
        position: absolute;
        left: 9%;
        top: 3px;
    }
    &__tag-icon {
        position: relative;
        bottom: -5px;
        left: -1px;
    }
}
